.field {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}

.nineXnine {
  width: 18rem;
  position: relative;
}

.scaled {
  transform: scale(0.8);
}
.field[readonly] {
  background: #ccc;
}

.gameFields {
  display: flex;
  margin-top: 70px;
  padding-left: calc(100vw - (100vw - 13.5rem));
  padding-right: calc(100vw - (100vw - 13.5rem));
}

.custom-width {
  width: 58px !important;
}

.success,
.danger {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  top: 28%;
  left: 5%;
  width: 90%;
}

.alert-success {
  border: 3px solid #1b1;
}

.alert-danger {
  border: 3px solid #f00;
}

.btn-hint {
  background-color: #1b1;
  color: #000;
  margin: 10px;
  font-weight: bold;
}

.btn-solve {
  background-color: rgb(5, 3, 128);
  color: #fff;
  margin: 10px;
  font-weight: bold;
}

.btn-undo {
  background-color: #ad076d;
  color: #fff;
  margin: 10px;
  font-weight: bold;
}

button span {
  pointer-events: none;
}

header h1 {
  font-size: 1rem;
}

header img {
  position: absolute;
  top: 12px;
  left: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
@media (min-width: 600px) {
  .field {
    width: 3rem;
    height: 3rem;
    font-size: 1.1rem;
    text-align: center;
  }

  .nineXnine {
    width: 27rem;
  }

  .custom-width {
    width: 78px !important;
  }

  header h1 {
    font-size: 2rem;
  }

  header img {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 769px) {
  .field {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .field {
    font-size: 2rem;
  }
}
