.field {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.nineXnine {
  width: 18rem;
}

.scaled {
  transform: scale(0.8);
}
.field[readonly] {
  background: #ccc;
}

.gameFields {
  display: flex;
  margin-top: 70px;
  padding-left: calc(100vw - (100vw - 13.5rem));
  padding-right: calc(100vw - (100vw - 13.5rem));
}

.custom-width {
  width: 58px !important;
}

button span {
  pointer-events: none;
}

@media (min-width: 600px) {
  .field {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
  }

  .nineXnine {
    width: 27rem;
  }

  .custom-width {
    width: 78px !important;
  }
}
